.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white;
    font-family: "RobotoRegular", sans-serif;
    color: #333333;
}

header {
    height: 70px;
    background: #2196F3;
    border-bottom: 1px solid #ddd;
}

main {
    flex: auto;
}

footer {
    height: 30px;
    background: #2196F3;
    border-top: 1px solid #ddd;
    color: white;
    text-align: center;
}

#headline {
    text-align: center;
    color: white;
}

#game {
    display: table;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.btn {
    cursor: pointer;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px black;
    background-color: #1976D2;
    color: #ecf0f1;
    margin: 5px;
    height: 25px;
}

#game .body {
    display: table-row-group;
    background: white;
}

#game .row {
    display: table-row-group;
}

#game .cell {
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    display: table-cell;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

#game .right {
    border-right: 2px solid black;
}

#game .bottom {
    border-bottom: 2px solid black;
}